#dragdiv {
    width: 100px;
    height: 100px;
    background-color: #eeffee;
    border: 1px solid black;
    padding: 5px;
}

#dropdiv {
    position: absolute;
    top: 80px;
    left: 100px;
    width: 300px;
    height: 200px;
    border: 1px solid black;
    padding: 5px;
}